<%- include('./partials/header.ejs')%>
  
<main>
  <section class="about">
      <h1>About Us</h1>
      <p>Welcome to Tochway Streams, your go-to destination for high-quality streaming content. We're passionate about delivering the best in gaming, technology, and sports entertainment. Our dedicated team works tirelessly to bring you engaging and exciting content that caters to a diverse audience.</p>
      <p>At Tochway Streams, we believe in creating a community where enthusiasts from various backgrounds can come together to share their love for gaming, stay updated on the latest technology trends, and indulge in thrilling sports experiences. Whether you're a seasoned gamer, a tech enthusiast, or a sports fan, we have something special for you.</p>
      <p>Join us on this exciting journey as we continue to explore and showcase the world of gaming, technology, and sports. Your support is what fuels our passion, and we're thrilled to have you as part of the Tochway Streams community!</p>
  </section>
</main>


  <%- include('./partials/footer.ejs')%>
