<%- include('./partials/header.ejs')%>
  
<main>
  <section class="contact">
      <h1>Contact Us</h1>
      <p>Have questions, suggestions, or just want to say hello? We'd love to hear from you! Feel free to reach out to us using the contact information below:</p>
      
      <div class="contact-details">
          <p>Email: info@tochwaystreams.com</p>
          <p>Phone: +1 (123) 456-7890</p>
          <p>Address: 123 Stream Street, Cityville, ST 54321</p>
      </div>

  </section>
</main>


  <%- include('./partials/footer.ejs')%>
