<%- include('./partials/header.ejs')%>
  
<main>
    <div class="welcome-section">
        <h2>Welcome to Tochway Streams</h2>
        <p>Streaming the best in gaming, technology, and sports content!</p>
        
    </div>
    
  </main>
    <%- include('./partials/footer.ejs')%>